button {
  padding: 10px 15px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

.single-entity {
  margin-bottom: 20px;
  border: 1px solid black;
  font-size: 0.3em;
}

#entity-container {
  padding-top: 20px;
}

h2 {
  text-align: center;
  font-size: 2em;
}

#create-form {
  text-align: center;
}

#create-form > * > * {
  margin-top: 2em;
}

#create-form > * > button {
  margin: 1em 0 0 1em;
}
