body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(214, 112, 112)
  );
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 0.5em;
}

#create-form {
  text-align: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  margin: 10px;
  display: flex;
  align-items: center;
}

label {
  margin-right: 0.5em;
  font-size: 1em;
}

input {
  padding: 0.5em;
  font-size: 1em;
}

button {
  margin-top: 10px;
}

h2 {
  text-decoration: underline;
}
